<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTO_BRUNO_SOAZO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/select2/select2.min.css" />
</head>
<body id="body">
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3" id="table">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PROYECTO_BRUNO_SOAZO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Propietario" asp-action="Index">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Inmueble" asp-action="Index">Inmuebles</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="TipoInmueble" asp-action="Index">Tipos de Inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contrato" asp-action="Index">Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pago" asp-action="Index">Pagos</a>
                        </li>
                        @if (ViewBag.UserRole == "ADMINISTRADOR")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                            </li>
                        }
                        <li>
                           <button class="bt btn-warning"><a class="dropdown-item text-light" asp-controller="Usuario" asp-action="Perfil"><i class="lnr lnr-user"></i> Perfil</a></button> 
							<button class="btn-warning"><a class="dropdown-item text-light" asp-controller="Usuario" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container center">
        <main role="main" class="pb-3 justify-content-center" >
            @if(ViewBag.Mensaje != null)
            {
                <div class="alert alert-success col-4 "  >
                    @ViewBag.Mensaje
                </div>
            }
            @if(ViewBag.Error != null)
            {
                <div class="alert alert-danger col-4 "  >
                    @ViewBag.Error
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PROYECTO_BRUNO_SOAZO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


