@model PROYECTO_BRUNO_SOAZO.Models.TipoInmueble;

@{
    ViewData["Title"] = "Details";
}



<div class="container justify-content-center  col-6"  id ="table">
    <h4 class="text-center">Detalles del Inmueble</h4>
    <hr />
     <dl class="row ">
        <dt class = "col-6 " >
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-6 ">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver al listado</a>
</div>