html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../ImgSubidas/ciudad.png');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
}
#body{
  background-color: rgb(240, 176, 97);
}
#table{
  background-color: rgb(64, 38, 7);
  color: aliceblue;
}
#detalles{
  color: #f7f306;
}
#edi{
  color: #7064f5;
}
#eli{
  color: #f79a6f;
}
#configImg{
  border-radius: 45%;
}